{% extends 'base.html' %}
{% block title %}
  <title>home</title>
{% endblock %}
{% block body %}
            <textarea id="chatarea" cols="30" rows="1"></textarea>
        <form action="submit">
            <button>送信</button>
        </form>
        <div>
            <!-- テンプレートメッセージを表示の処理 -> innerHTMLもしくは, todoリストの仕組みを流用してボタンを増やす,deleteも可能にする -->
        </div>
        <!-- modalのhtml -->
        <button id="open-modal" name="open-modal-btn">+</button>
        <div id="demo-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">×</span>
                    <h2>定型文</h2>
                </div>
                <div class="templete-list-wrapper">
                    <ul id="templete-list">
                        <li>
                            <button class="templete-msg" id=templete1 href="#">ありがとうございます！お世話になっております、よろしくお願いいたします。</button>
                        </li>
                        <li>
                            <button class="templete-msg" id=templete2 href="#">早く納品してください！あああああああああああああああああああああああああ</button>
                        </li>
                        <li>
                            <button class="templete-msg" id=templete2 href="#">早早く納品してください！あああああああああああああああああああああああああ</button>
                        </li>
                        <li>
                            <button class="templete-msg" id=templete2 href="#">早く納品してくだ早く納品してください！あああああああああああああああああああああああああさい！</button>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <form class='registerform' name="registerform" method="post">
                        <input type="text" name="register" required>
                        <button id="submit-templete">登録</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <h3>index.htmlに戻る</h3>
        <a href="{{ url_for('index') }}">index.html</a>
    </main>
    <script src="{{url_for('static',filename='js/templete.js')}}"></script>
    {% endblock %}